.buttons-wrapper {
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
}

mat-card {
  margin: 1em;
  text-align: center;
  border: 1px solid black;
  border-radius: 2%;
  h4 {
    font-weight: 600;
  }
  h5 {
    font-weight: 500;
  }
}

@media screen and (max-width: 1000px) {
  .buttons-wrapper {
    flex-direction: column;
    row-gap: 0.5em;
    button {
      padding: 0.5em;
    }
  }
}
